# Python Bytecode
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Virtuelle Umgebung
venv/
env/
ENV/

# Umgebungsvariablen
.env

# Logs
*.log

# SQLite Datenbanken (falls verwendet)
*.db

# IDE/Editor Ordner
.vscode/
.idea/

